/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
.pirate-alert .alert-button-confirm {
    color: #FFD700;
    font-weight: bold;
    font-family: 'Georgia', serif;
    letter-spacing: 1px;
  }
  